@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/gasoek-one');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova');
@import url('https://fonts.cdnfonts.com/css/lexend');
@import url('https://api.fonts.coollabs.io/css2?family=Montserrat&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  padding-block: 4rem;
  color: #c0c0c0;
  font-family: 'Montserrat', sans-serif;
  background: #0C0C0C;
}

header {
  border: 0;
  outline: 0;
} 

nav {
  display: grid;
  justify-content: center;
  width: 100%;
  margin-block-end: 1.25rem;
  outline: 1px solid firebrick;
}

.som--logo-wrap {
  margin-block-end: 1.25rem;
}

h1 {
  font-family: 'Montserrat','Proxima Nova';
  font-size: 4.2rem;
  line-height: 1;
}
article:not(:first-of-type) {
  margin-block-start: 15rem;
}

article {
  display: grid;
  --gutter: 3rem;
  grid-template-columns:
    [page-start col1-start] minmax(3rem, 1fr)
    [breakout-start] 1fr
    [content-start] min(100% - (var(--gutter) * 2), 80ch)
    [content-end] 1fr
    [breakout-end] minmax(3rem, 1fr)
    [page-end];
}

article .header {
  grid-column: breakout;
}

article .header > * {
  padding-inline-start: 0.75rem;
  margin-block-end: 4rem;
}

article .header p {
  font-size: 1.9rem;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.article__body {
  grid-column: breakout;
}

.article__body p {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-block-end: 4rem;
}

.article__body p:first-child {
  margin-block-start: 4rem;
}
