@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/gasoek-one');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova');
@import url('https://fonts.cdnfonts.com/css/lexend');
@import url('https://api.fonts.coollabs.io/css2?family=Montserrat&display=swap');
@import url('https://fonts.bunny.net/css?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/*@import url(https://fonts.bunny.net/css?family=montserrat:ital,wght@0,300..800;1,300..800&display=swap);*/
@import url('https://fonts.bunny.net/css?family=montserrat:500..800');

* {
  margin: 0;
  padding: 0;
}

body {
  padding-block-end: 4rem;
  color: #c0c0c0;
  font-family: 'Montserrat', sans-serif;
  background: #0C0C0C;
  overflow-x: clip;
}

header {
  border: 0;
  outline: 0;
  padding: 1.5rem .5rem;
} 

nav {
  display: grid;
  justify-content: center;
  width: 100%;
  margin-block-end: 1rem;
}

.som--logo-wrap {
  /* margin-block-end: 1.25rem; */
}

h1 {
  font-family: 'Montserrat','Proxima Nova';
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 0.834rem + 2.323vw, 2.5rem);
  font-weight: 500;
  line-height: 1;
}
article:not(:first-of-type) {
  margin-block-start: 15rem;
}

article {
  display: grid;
  --gutter: 3rem;
  grid-template-columns:
    [page-start col1-start] minmax(1.5rem, 1fr)
    [breakout-start] 1fr
    [content-start] min(100% - (var(--gutter) * 2), 80ch)
    [content-end] 1fr
    [breakout-end] minmax(1.5rem, 1fr)
    [page-end];
}

article .header {
  position: relative;
  grid-column: breakout;
  padding-block-start: 2.25rem;
}

article .header > * {
  /* padding-inline-start: 0.75rem; */
  margin-block-end: 1.25rem;
}

article .header p {
  font-size: .8rem;
  /*margin-block-end: .92rem;  */
}

.article__meta {
  position: absolute;
  right: -0.875rem;
  top: 0;
/*margin-inline-end: 1rem;*/
  grid-column: content;
  color: #c0c0c0;
  display: inline-block;
  font-size: .585rem;
  font-weight: 700;
  line-height: 1.4;
  background: transparent;
  padding: 0.084rem .425rem;
  border-radius: 4px;
  text-transform: uppercase;
  border: 1px solid hsla(220, 24%, 54%, .7);
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.article__body {
  position: relative;
  grid-column: breakout;
}

.article__body p {
  /*font-size: 2.2rem;*/
  line-height: 1.5;
  margin-block-end: 1.5rem;
}

.article__body p:first-of-type {
  margin-block-start: 4rem;
}

.article__body .article__tags {
  position: absolute;
  top: 6px;
  left: 0;
  display: flex;
  width: max-content;
  gap: .45rem;
}

.article__body .article__tags span {
  display: inline-block;
  position: relative;
  font-size: .625rem;
  text-transform: uppercase;
  font-weight: 500;
}

.article__body .article__tags span::after {
  display: block;
  position: absolute;
  top: 0;
  right: 4px;
  width: 1px;
  background: #c0c0c0;
  height: 30px;
}
